<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> <!--GET요청방식-->
    <!--<form action="https://search.naver.com/search.naver">--> <!--작성한 데이터를 어디로 보낼지-->
    <!--<input type="text" name="query">-->
        <form action="https://www.google.com/search">
        <input type="text" name="q"> <!--name="query"검색하고자 하는 검색어가 입력됨-->
        <input type="submit">
    </form>
</body>
</html>