{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}

<h1>Article Form</h1>
<form action = "" method="POST">
    {% csrf_token %}
    <!-- <label for="">TITLE</label>
    <input type="text" name="title">
    <label for="">CONTENT</label>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
   
    {{ article_form.as_p }} -->
    {% bootstrap_form article_form %}
    {% buttons submit='작성하기' %}
    <!--추가 버튼 기능 생성-->
    {% endbuttons %}
    <!--<input type="submit">-->
</form>
{% endblock %}