<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
    <!---->
    <form action="/catch/" method="GET">
        <label for="message">던질 내용:</label>
        <input id="mesaage" type="text" name="message">
        <!--데이터를 전송할 때 input에 name이 지정되어야 그것으로 데이터 넘어감-->
        <label for="message2">던질 내용:</label>
        <input id="message2" type="text" name="message2">
        <!--label for와 input id같아야 함. 데이터를 전송할 때 input에 name이 지정되어야 그것으로 데이터 넘어감-->
        
        <input type="submit">
    </form>
</body>
</html>