{% extends 'base.html'%}

{% block body %}

<h1> new movie</h1>

<form action="" method="POST"> <!--action 비어있는 건 나 자신으로 -->
{% csrf_token %}
    <div>
        <label for = "">title : </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for = "">title en: </label>
        <input type="text" name="title_en">
    </div>
    <div>
        <label for = "">audience: </label>
        <input type="number" name="audience">
    </div>
    <div>
        <label for = "">open date: </label>
        <input type="date" name="open_date">
    </div>
    <div>
        <label for = "">genre: </label>
        <input type="text" name="genre">
    </div>
    <div>
        <label for = "">watch grade: </label>
        <input type="text" name="watch_grade">
    </div>
    <div>
        <label for = "">score: </label>
        <input type="number" name="score" step="0.01" min="0" max="10"><!--몇단위로 올라갈지-->
    </div>
    <div>
        <label for = "">poster url: </label>
        <input type="text" name="poster_url">
    </div>
    <div>
        <label for = "">description: </label>
        <textarea name="description"> </textarea>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{%endblock%}

